{% extends 'tasks/base.html' %}

{% block content %}
  {% if object_list %}
    <h4>All tasks</h4>
    {% for task in object_list %}
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{ task.task_title }}</h5>
          <p class="card-text">{{ task.task_description }}</p>
          <a href="{% url 'tasks:tasks_view' task.id %}" class="card-link">View Task</a>
          <a href="{% url 'tasks:tasks_edit' task.id %}" class="card-link">Update Task</a>
          <a href="{% url 'tasks:tasks_delete' task.id %}" class="card-link">Delete Task</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Got Lucky!</h1>
          <h2>
            No tasks Found</h2>
          <div class="error-actions">
            <a href="{% url 'tasks:tasks_new' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
              Create new task </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content%}

